.filter-section {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  margin: 20px;
  transition: box-shadow var(--transition-duration);
}

.filter-section:hover {
  box-shadow: 0 8px 16px var(--shadow-color);
}

h3 {
  color: var(--text-color);
  margin-bottom: 10px;
}

.filter-section select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: border-color var(--transition-duration);
}

.filter-section select:hover,
.filter-section select:focus {
  border-color: var(--primary-color);
  outline: none;
}

