.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: all var(--transition-duration);
}

.navbar.sticky {
  background-color: var(--primary-color);
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-item {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  transition: color var(--transition-duration);
}

.nav-item:hover {
  color: var(--primary-color);
}

.menu-icon {
  display: none;
  margin-right: 10px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.dash {
  height: 3px;
  background-color: var(--text-color);
  transition: all var(--transition-duration);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--navbar-bg-color);
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-container {
    justify-content: space-between;
  }

  .hamburger {
    margin-left: auto;
  }
}
