:root {
    --primary-color: #3498db; /* Bright Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color: #e74c3c; /* Red */
    --background-color: #f5f5f5; /* Light Gray */
    --text-color: #ebe4e4; /* Dark Gray */
    --navbar-bg-color: #2c3e50; /* Dark Blue */
    --footer-bg-color: #34495e; /* Darker Blue */
    --card-bg-color: #ffffff; /* White */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-transform: scale(1.05);
    --transition-duration: 0.3s;
  }
  